@font-face {
    font-family: 'newyork';
    src: url('/fonts/NewYorkPersonalUse.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Poppins';
    overflow-x: hidden;
}

